/* General Rules */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.header, .hero {
    background-color: #1F2937;
    color: white;
    padding: 16px 256px 0px;
    display: flex;
}
/* Header Rules */
.header {
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    font-weight: bolder;
}

.headerLinks {
    gap: 24px;
}

/* Hero Text Section Rules */
.heroImage {
    height: 300px;
    width: auto;
    display: flex;
    flex-shrink: 1;
}

.hero {
    justify-content: space-between;
}

.rightPortion {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

