/* General Rules */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header, .hero {
    background-color: #1F2937;
    color: white;
    padding: 16px 256px 0px;
    display: flex;
}
/* Header Rules */
.header {
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.headerLinks {
    display: flex;
    gap: 32px;
}

/* Hero Text Section Rules */
.hero {
    justify-content: space-between;
    align-items: center;
    padding: 128px 256px;
}

.rightPortion {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.heroText {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 10px;
    height: 32px;
    width: 128px;
}

/*Information Section Rules*/
.secondBodySection {
    padding: 64px 256px 128px;
    display: flex;
    flex-direction: column;

}

.sBSHeader {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
}

.sBSContent {
    display: flex;
    flex-direction: row;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.entry img {
    border: 5px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

/* Quote Rules */
.quoteSection {
    background-color: #E5E7EB;
    padding: 128px 372px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.attribution {
    align-self: flex-end;
}